<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Page</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <%- include("header") -%>

    <div class="container mt-5">
        <div class="container">
            <div class="container">
               <em>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, ipsum animi accusamus recusandae aperiam suscipit fugiat debitis amet iure dignissimos! Facere dolor vitae dolorum optio quod. Odio perspiciatis facilis tempora consequatur voluptatum corrupti autem ullam voluptatem, reprehenderit optio reiciendis debitis harum fugit eos beatae provident totam amet saepe dolore commodi eveniet esse ut asperiores labore. Nam amet facere quod illo veniam alias totam dolorem harum natus error. Hic, dolor molestias maiores adipisci voluptatum sunt nemo laborum reiciendis ut suscipit ab ducimus ipsa repellendus labore molestiae? Delectus possimus officiis, blanditiis architecto, quasi nesciunt fuga inventore excepturi sint ducimus eligendi minus soluta.</em>
            </div>
        </div>
    </div>

    <%- include("footer") -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script> -->
</body>
</html>