<div class="container-fluid p-0" style="z-index: 1  ;position: fixed; bottom:0;">
    <nav class="navbar bg-dark" >
        <div class="container-fluid d-flex justify-content-center">
          <h6 class="muted" style="color:rgba(255,255,255,0.3); " >copyright by @ZakirAli 2022</h6>
        </div>
      </nav>
    </div>